html,
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  color: #222;
}

:root {
  --blue: #1e90ff;
  --gray: #cecece;
}

* {
  box-sizing: border-box;
}

.select {
  width: 90%;
}

.earth-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding: 1rem; */
}

.slider {
  color: pink;
}

.container {
  width: min(100%, 600px);
  padding: 0.5rem 1rem;
  margin: auto;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  width: 100%;
}

.form-container input {
  font-size: 1rem;
  border: 1px solid var(--gray);
  margin-right: 1px;
  border-radius: 4px;
  min-width: 17ch;
  width: 75%;
}

.form-container .select {
  min-width: 13ch;
  width: 25%;
}

.form-container input:focus {
  border-width: 2px;
  border-color: var(--blue);
  outline: none;
}

.sub-container {
  margin: 1px 1px;
  display: flex;
  min-width: 50%;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.spaceship-form {
  width: 100%;
}

.lottie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 60%;
}

.lottie {
  pointer-events: none;
}

@media screen and (max-height: 800px) {
  body {
    font-size: 0.875rem;
  }
  .earth {
    width: 156px;
    height: 156px;
  }

  .lottie {
    transform: scale(0.6);
  }

  .lottie-container {
    height: 168px;
  }
}

@media screen and (min-width: 800px) {
  html {
    background-color: #073349;
    font-size: 1.1rem;
  }
  .outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    width: min(80%, 1000px);
    height: min(90vh, 900px);
    flex-direction: row;
    border-radius: 30px;
    background-color: white;
    padding: 1.15rem 0.5rem;
  }

  .sub-container {
    max-height: 100vh;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
    width: auto;
  }

  .earth {
    width: 290px;
    height: 290px;
  }

  .lottie {
    transform: scale(1.3);
  }
}

@media screen and (min-width: 1100px) {
  html {
    background-color: #073349;
    font-size: 1.4rem;
  }
}
