html,
body {
  font-family: 'Inter', sans-serif;
}

.select {
  width: 500px;
}

.container {
  width: clamp(300px, 50%, 700px);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.anim-container {
  background-color: #111;
  width: 300px;
  height: 300px;
}

input {
  padding: 2px;
  font-size: 1.2rem;
}

.no-click {
  pointer-events: none;
}
