html,
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  /* background-color: #073349; */
}

* {
  box-sizing: border-box;
}

.select {
  width: 90%;
}

.earth {
  width: 60%;
}

.container {
  width: min(100%, 600px);
  /* margin: auto; */
  padding: 0.5rem 1rem;
  margin: auto;
  display: flex;
  height: 100vh;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* background-color: red; */
}

.sub-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1;
}

input {
  padding: 2px;
  font-size: 1.2rem;
}

.lottie-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lottie {
  display: flex;
  pointer-events: none;
  max-width: 30vh;
  /* width: min(100% 10px); */
  /* flex: 1; */
  /* width: 100%; */
  /* margin: -9rem -2rem -1rem -2rem; */
  /* display: flex;
  background-color: #fff; */
}
